Development/docker_resources/
Development/templates/
Development/ssh_access/root_ssh_access.pub
Development/ssh_access/user_ssh_access.pub
Development/.vagrant/
Development/app/source/code/__pycache__
Development/boot/prometheus-config.sh
Development/boot/start-containers.sh
Development/app/.env
Windows/install-vagrant.ps1
.vagrant
